mat-grid-tile {
    background: lightblue;
}

.phim {
    width: 95%;
    margin: auto;
    .phim__content {
        top: 0;
        padding-left: 20px;
        padding-right: 20px;
    }
}

img {
    height: 250px;
    width: 120px;
}