.section {
    width: 80%;
}

.Bg {
    width: 70%;
    height: 60%;
    background-color: greenyellow;
}

.content {
    display: flex;
}

button {
    margin: 15px;
}

img {
    width: 200px;
    height: 250px;
}