<div class="bg-dark text-white">
    <div class="container ">
        <div class="mx-auto">
            <h2>CINEMA</h2>
            <p>FAQ</p>
            <p>

                Brand Guidelines</p>
        </div>
        <div class="mx-auto">
            <h2>Dịch vuj</h2>
            <p>
                Thỏa thuận sử dụng
            </p>
            <p> Chính sách bảo mật</p>

        </div>
        <div>
            <h2>MOBILE APP</h2>
        </div>
        <div class="mx-auto">
            <h2>SOCIAL</h2>
        </div>
    </div>
    <hr>
    <div class="container">
        <div>TIX – SẢN PHẨM CỦA CÔNG TY CỔ PHẦN ZION Địa chỉ: Z06 Đường số 13, Phường Tân Thuận Đông, Quận 7, Tp. Hồ Chí Minh, Việt Nam. Giấy chứng nhận đăng ký kinh doanh số: 0101659783, đăng ký thay đổi lần thứ 30, ngày 22 tháng 01 năm 2020 do Sở kế hoạch
            và đầu tư Thành phố Hồ Chí Minh cấp. Số Điện Thoại (Hotline): 1900 545 436 Email: support@tix.vn</div>

    </div>
</div>